.gallery-item {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 15px solid rgba(255, 255, 255, 0.55);
  box-shadow: 0px 0px 20px rgba(55, 55, 55, 0.85), 0px 0px 10px black;
  /* margin: 1rem 0rem; */
  margin: 1.25rem;
  min-width: 325px;
  display: flex;
  flex-direction: column;

  /* width: fit-content; */
}

.gallery-item-img-container {
  flex-grow: 1;
}

.gallery-item-content-container {
  position: relative;
}

.gallery-item-content-overlay {
  background: white;
  opacity: 25%;
  position: absolute;
  inset: 0;
}

.gallery-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  position: relative;
  z-index: 5;
}

.gallery-item .gallery-item-content div {
  flex: 1;
}

.reaction-btns-div {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.gallery-item-title {
  text-transform: capitalize;
}

.gallery-item-description {
  /* text-transform:  */
  font-weight: 300;
  font-size: 0.85rem;
}

/* @media screen and (max-width: 950px) {
  .gallery-item {
    width: 300px;
    height: 300px;
  }
}
*/

@media screen and (max-width: 650px) {
  .gallery-item {
    margin: 2rem 0;
    min-width: 200px;
  }
}
