.sketch-pad-parent {
  /* border: 5px solid green; */
  padding: 0 var(--mainPaddingX);
}

.sketchpad-content {
  position: relative;
  z-index: 50;
}
.sketchpad-content-row {
  flex-grow: 1;
  display: flex;
  gap: 2rem;
  /* border: 3px solid blue; */
}

.controls-column {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.sketchpad-grid-column {
  flex: 2;
  /* border: 3px solid green; */
}

@media screen and (max-width: 950px) {
  .sketch-pad-parent {
    height: auto;
    /* padding: 0rem; */
  }
  .sketchpad-content-row {
    flex-direction: column;
    /* padding: 0rem; */
  }
}
