.controls-btn {
  position: relative;
  background: var(--secondarymint);
  opacity: 85%;
  border: none;
  box-shadow: 2px 3px 3px rgba(15, 20, 20, 0.65),
    -2px 2px 5px rgba(25, 20, 20, 0.25) inset;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.25s ease;
  text-transform: uppercase;
  font-weight: 300;
}

.active-btn {
  background: var(--active);
  transform: scale(0.9, 1.1);
  font-weight: 700;
}

.save-control-btn {
  background: var(--red);
}
.clear-control-btn {
  background: var(--fadedwhite);
}
.take-picture-btn {
  background: var(--mintgreen);
}

@media screen and (max-width: 550px) {
  .controls-btn {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}
