.sketch-gallery-parent {
  height: 100%;
  padding-top: 3rem; /* 3 + 2 for desired spacing  */
  margin-top: 2rem; /*between border and Nav */
  border-top: 2px solid rgba(135, 125, 205, 0.5);
  overflow: auto;
}

.sketch-gallery-parent::-webkit-scrollbar {
  display: none;
}

.gallery-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 0.85fr));
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
}
@media screen and (max-width: 650px) {
}
