.login-container {
  /* position: relative; */
  /* min-height: 100vh; */
  /* width: 100%; */
  border: 5px solid red;
  background: linear-gradient(
    to right,
    rgba(20, 15, 20, 1),
    rgba(25, 20, 25, 1),
    rgba(65, 60, 55, 1)
  );
}

.login-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 400px;
  background: rgb(74, 105, 206);
  opacity: 0%;
  filter: blur(65px);
  animation: fadeinpseudo 1s 1s forwards;
}

@keyframes fadeinpseudo {
  100% {
    opacity: 55%;
  }
}
