.landing-overlay-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.5rem var(--mainPaddingX);
  opacity: 95%;
  filter: blur(1.5px);
  z-index: 5;
}

.overlay-gallery {
  display: grid;
  flex-wrap: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media screen and (max-width: 950px) {
  .landing-overlay-container {
    align-items: flex-end;
  }
  .overlay-gallery {
    display: grid;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .overlay-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
