@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mainFont: "Exo 2", sans-serif;
  --pixelFont: "Silkscreen", sans-serif;
  --mainPaddingX: 6.5rem;
}

h1 {
  font-size: 6.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.thin {
  font-weight: 300;
}

/* Utility Classes */

.full-screen-container {
  /* full width to accommodate BG ui */
  position: relative;
  overflow: hidden;
  /* border: 3px solid blue; */
}

.view-container {
  position: relative;
  min-height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding: 0rem var(--mainPaddingX); */

  /* border: 4px solid red; */
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-font {
  font-family: var(--pixelFont);
}

.invisible {
  opacity: 0;
}

@media screen and (max-width: 950px) {
  :root {
    --mainPaddingX: 4.5rem;
  }

  .view-container {
    max-width: auto;
  }

  h1 {
    font-size: 3.85rem;
  }

  .mobile {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  :root {
    --mainPaddingX: 0.5rem;
  }
  h1 {
    font-size: 3rem;
  }
}
